.oe_menu_search {
  width: 200px;
  height: 40px;
  text-align: center;
  align-content: center;
}

.oe_menu_search .oe_search_menu_input {
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 30px;
  font-size: 100%;
  color: black;
  margin: 2px 20px 0 0;
  background: ghostwhite;
  border-radius: 2px;
  margin-left: 22px
}
