.modal-lg .o_datepicker_button {
  color: red;
}
.form-control .oe_required {
  margin: 10px;
  background: #D2D2FF !important;
}
.o_kanban_view .o_kanban_quick_create .oe_required {
  background: #D2D2FF !important;
}
.modal-body {
  height: 400px;
}
